@import 'style/variable.scss';
@import 'style/utility.scss';

.dashboard-full {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    background-color: $col-dashboard;
    box-shadow: 0 0 .5rem 0 #000000bf;
}

.dashboard-empty {
    width: 100%;
    font-family: $font-main;
    font-size: 4rem;
    text-align: center;
}