@import 'style/variable.scss';
@import 'style/utility.scss';

.form {
    width: 60%;
    margin: -7rem auto;
}

.form__photo-upload {
    width: 12rem;
    margin-bottom: 3rem;
    aspect-ratio: 1;

    align-items: center;

    position: relative;

    clip-path: circle(50% at 50% 50%);
    background-color: rgb(202, 202, 202);

    & input {
        //for uploading photo
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

    & img {
        aspect-ratio: 1;
        position: absolute;
        transform: scale(.5);
    }

}

.warning {
    border: .1rem solid $col-red;
}