@import 'style/variable.scss';
@import 'style/utility.scss';

.first-card {
    width: 100%;
    aspect-ratio: 1;
    //to align fa icon vertically and horizontally
    position: relative;

    background-color: $col-card;
    transition: all .25s;

    &:hover {
        box-shadow: 0 0 .8rem 0 #000000bf;
        cursor: pointer;
    }

    &:active {
        transform: scale(.90);
    }

    &:hover .iconFaCirclePlus {
        width: 8rem;
        height: 8rem;
    }

}

.iconFaCirclePlus {
    width: 6rem;
    height: 6rem;
    color: $col-white;
    transition: all .25s;
}