@import '../../../style/variable.scss';

.card {
    width: 20rem;
    aspect-ratio: 1;
    background-color: $col-card;
    transition: all .25s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .9;
    }

    &:active {
        transform: scale(.90);
    }

    &:hover .icon {
        width: 6rem;
        height: 6rem;

    }

}

.icon {
    width: 5rem;
    height: 5rem;
    color: $col-bg;
    transition: all .25s;
}