@import 'style/variable.scss';

.create-card {
    width: 60%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 50%;
    padding-left: 1rem;
    border: .1rem solid $col-header;
    font-family: $font-header;
    font-size: $font-input-size;
    line-height: 5rem;
    color: $col-header;
    outline: none;
}

label {
    width: 70%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-header;
    font-size: $font-input-size;
    text-align: center;
    color: $col-card;
}

button {
    width: 25%;
    border: .1rem solid $col-bg;
    font-family: $font-header;
    font-size: $font-input-size;
    line-height: 5rem;
    color: $col-bg;
    background-color: $col-card;
    outline: none;
    transition: all .25s;

    &:hover {
        opacity: .75;
    }

    &:active {
        transform: scale(.95);
    }
}

.warning {
    border: .1rem solid $col-card;
}