@import 'style/variable.scss';
@import 'style/utility.scss';

.card {
    width: 100%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //to align fa icon vertically and horizontally
    position: relative;

    font-family: $font-main;
    font-size: $fsize-normal;
    color: $col-white;

    background-color: $col-card;
    transition: all .25s;

    &:hover {
        box-shadow: 0 0 .8rem 0 #000000bf;
        cursor: pointer;
    }

    &:hover .card__edit-icon {
        opacity: 1;
    }

    &:active {
        transform: scale(.90);
    }
}

.card__edit-icon {
    width: 100%;
    opacity: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 5rem;

    cursor: pointer;
    transition: all .25s;
}

.card__photo {
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 100%;

    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}

.card__details {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.iconEdit {
    width: 3rem;
    height: 3rem;
}

.iconActive {
    color: $col-black;
}

.iconFaUser {
    width: 5rem;
    height: 5rem;
    color: $col-white;
}