@import 'style/variable.scss';

.header {
    width: 100%;
    text-align: center;
    background-color: $col-header;
}

.header__title {
    line-height: 8rem;
    font-size: $font-header-size;
    font-family: $font-header;
    color: $col-white;
}

