@import 'style/variable.scss';

.nav {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    background-color: $col-header;
}

a {
    width: 50%;
    min-width: 20rem;
    display: inline-block;
    font-family: $font-header;
    font-size: $font-nav-size;
    text-align: center;
    text-decoration: none;
    color: $col-white;
    background-color: $col-header;

    &:hover {
        opacity: .75;
    }
}