@import 'style/variable.scss';
@import 'style/utility.scss';

.nav {
    width: 20%;
    margin: 1rem auto;
    line-height: 4rem;
}

a {
    width: 50%;
    display: inline-block;
    font-family: $font-main;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: $col-black;
    transition: all .25s;

    &:hover {
        color: $col-red;
    }
}