@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

$col-header: #D98F89;
$col-white: #F2EEEB;
$col-black: #000;

$font-header: 'Tilt Warp', cursive;
$font-header-size: 4rem;
$font-nav-size: 3rem;