@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

$col-black: #000;
$col-white: #fff;
$col-red: #da291c;

$col-bg: #efefef;
$col-header: #000;
$col-dashboard: #fff;
$col-card: #da291c;
$col-modal-header: #da291c;
$col-modal: #fff;

$font-main: 'Tilt Warp', cursive;

$fsize-normal: 1.6rem;