@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

$col-header: #0C0E11;
$col-white:#fff;
$col-black: #000;
$col-bg: #E9EBEB;
$col-card: #F9292F;

$font-header: 'Tilt Warp', cursive;
$font-header-size: 4rem;
$font-nav-size: 3rem;
$font-input-size: 1.6rem;